Vagrant.configure(2) do |config|
  config.vm.box = 'ubuntu/trusty32'

  config.vm.provider 'virtualbox' do |vm|
    vm.name = 'ansible-ruby-build'
    vm.memory = 256
  end

  config.vm.provision 'ansible' do |ansible|
    ansible.playbook = 'test/vagrant.yml'
  end
end
